@use 'variables';

.main-footer-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 130px;
  // background-color: red;
  margin-bottom: 500px;

  .upper-footer-container {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: variables.$primary-color;

    .upper-footer-section {
      position: relative;
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: 128px;
      top: 50%;
      transform: translateY(-50%);
      //   background-color: green;

      .mailing-list-signup-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 328px;
        height: inherit;
        // background-color: magenta;
        text-align: center;

        .subtext {
          position: relative;
          margin: 0 auto;
          line-height: 20px;
          padding-top: 0.6rem;
          font-size: 13px;
          font-weight: bold;
        }
      }

      .mailing-list-form {
        position: relative;
        margin-top: auto;

        .mailing-list-email {
          padding: 8px 12px 10px;
          line-height: 18px;
          font-weight: bold;
          border: none;
        }

        .mailing-list-submit {
          padding-bottom: 10px;
          line-height: 18px;
          font-size: 13px;
          width: 124px;
          background-color: black;
          color: white;
          font-weight: bold;
          padding-top: 8px;
          border: none;
        }
      }

      .social-container {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 328px;
        height: inherit;
        // background-color: gold;
        padding-top: 20px;

        .social-items {
          position: relative;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          width: 100%;
          height: auto;
          //   background-color: forestgreen;
          padding-top: 1em;

          .social-item {
            position: relative;
            display: inline-block;
            width: 36px;
            height: 36px;
            border-radius: 100%;
            background-color: white;
            margin-right: 1em;
          }
        }
      }
    }
  }

  .main-footer {
    position: relative;
    display: block;
    width: 100%;
    height: 800px;
    padding: 0 20px 0 20px;
    margin-top: 2em;
    // background-color: magenta;

    .footer-content {
      position: relative;
      width: 100%;
      height: 400px;

      // background-color: ;

      .text-nav-section {
        position: relative;
        width: 100%;
        // height: 1em;
        text-align: left;
        // background-color: pink;

        .text {
          font-size: 0.8em;
          font-weight: 500;
          color: #7f7f7f;
          width: auto;

          &:after {
            content: "";
            position: absolute;
            width: 17ch;
            left: 0;
            top: 23px;
            height: 1px;
            background-color: #7f7f7f;
            opacity: 0.7;
          }
        }
      }

      .lists-container {
        position: relative;
        display: flex;
        width: 100%;
        height: 132px;
        background-color: rgb(29, 139, 35);
        margin-top: 20px;

        .text-nav-list {
          position: relative;
          width: 100%;
          background-color: burlywood;
          &:nth-child(n + 2) {
            margin-left: 28px;
          }
        }
      }
    }
  }

  //Shared Styling
  .headline {
    position: relative;
    font-weight: bold;
    font-size: 1em;
    line-height: 20px;
  }

  .cloud-border-container {
    position: relative;
    display: flex;
    flex-wrap: none;
    width: 100%;
    height: 1em;
    top: 1em;
    overflow: visible;
    margin: 0 auto;

    .cloud-circle {
      position: relative;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      background-color: white;

      z-index: 10;
    }

    .bottom {
      top: calc(100% + 0.5em);

      .cloud-circle {
        background-color: white;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .upper-footer-container {
    display: grid;
    place-content: center;
    .upper-footer-section {
      flex-direction: column;

      .mailing-list-signup-container {
        padding-bottom: 2em;
      }

      .social-container {
      }
    }
  }
}
