@use 'variables';

ul {
  list-style: none;
  padding-top: 0.3em;

  li {
    display: inline;
    font-size: 0.7em;
    font-weight: bold;
    padding-left: 1em;

    &:hover {
      cursor: pointer;
      color: variables.$hover-link-color;
    }
  }
}

.navbar {
  position: fixed;
  width: 100%;
  max-width: 1120px;
  height: 110px;
  padding-left: 20px;
  padding-right: 20px;
  // background-color: slateblue;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  .top-link-items {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 40px;
    background-color: white;
  }

  .navbar-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(63%);
    background-color: rgba(255, 255, 255, 0.95);

    .hamburger-nav {
      display: none;
    }

    .button-group {
      position: relative;
      display: flex;
      width: 530px;
      height: 100%;
      // background-color: rgb(26, 26, 26);

      .brand-title {
        position: relative;
        display: grid;
        width: 230px;
        height: 55px;
        // background-color: magenta;
        place-content: center;
        padding-top: 0.7em;

        span {
          font-family: "Baloo Chettan 2", cursive;
          font-size: 2em;
          font-weight: 800;
          color: variables.$primary-color;

          &:hover {
            color: variables.$hover-link-color;
          }
        }
      }

      .main-menu-container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 300px;
        height: calc(85%);
        // background-color: red;
        place-content: center;
        padding-top: 1.2em;
        padding-left: 1em;

        .main-menu-button {
          position: relative;
          width: 130px;
          height: inherit;
          background-color: #f2f2f2;
          text-align: center;
          padding-top: 0.2rem;
          color: black;

          #shop-menu {
            padding-left: 1em;
          }

          span {
            font-weight: 700;
            font-size: 0.9rem;
          }

          &:nth-child(2):hover {
            cursor: pointer;
            background-color: black;
            color: white;
          }
        }

        .active {
          background-color: black;
          color: white;
        }
      }
    }

    .icons-container {
      position: relative;
      display: flex;
      width: 200px;
      height: calc(63%);
      background-color: orange;
      margin-top: 1.3em;
    }
  }
}

.gg-menu-left-alt {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 14px;
  transform: scale(var(--ggs, 1));
  color: white;
}
.gg-menu-left-alt::after,
.gg-menu-left-alt::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  display: block;
  height: 2px;
  border-radius: 4px;
  background: currentColor;
  top: 1px;
}
.gg-menu-left-alt::before {
  width: 14px;
  box-shadow: 0 12px 0;
  top: 1px;
}
.gg-menu-left-alt::after {
  width: 12px;
  top: 7px;
}

//MOBILE NAV

.mobile-nav-container {
  position: relative;
  display: none;
  width: 100%;
  height: auto;
  // background-color: green;
  opacity: 0;
  margin-top: 64px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 9998;

  .menu-squares-container {
    position: relative;
    width: 100%;
    height: auto;
    // background-color: skyblue;
    margin: 0 auto;

    .mobile-product-row {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;
      max-height: 233px;
      min-height: 30px;
      // background-color: salmon;

      &:nth-child(n + 2) {
        margin-top: 18px;
      }

      .mobile-product-item-container {
        position: relative;
        width: 100%;
        max-width: 233px;
        min-width: 84px;
        text-align: center;
        .mobile-product-item {
          position: relative;
          width: 100%;
          height: 0;
          padding-bottom: 100%;
          // background-color: crimson;

          .fit-img {
            @include variables.fit-image;
          }
        }

        &:nth-child(n + 2) {
          margin-left: 18px;
        }

        > span {
          font-size: 0.785em;
          font-weight: 500;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    height: 102px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 102px;

    .navbar-content {
      height: calc(44%);
      padding-bottom: 55px;

      .button-group {
        .brand-title {
          left: -1em;
        }
        .main-menu-container {
          display: none;
        }
      }

      .icons-container {
        margin-top: 1.1em;
      }

      .nav-button {
        cursor: pointer;
        .hamburger-nav {
          display: inline-block;
          padding: 5px;

          #shop-menu {
            color: black;
            margin-top: 1em;
          }

          .gg-menu-left-alt {
            position: relative;
            display: inline-block;
            width: 16px;
            height: 16px;
            transform: scale(var(--ggs, 1));
            color: white;
          }

          .gg-menu-left-alt::before {
            width: 22px;
            height: 3px;
            box-shadow: 0 15px 0;
            top: 1px;
          }
          .gg-menu-left-alt::after {
            height: 3px;
            width: 20px;
            top: 9px;
          }
        }
      }
    }
  }
}
